

@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: url("https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_960_720.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Gabriela', serif;
  font-size: 100%
  
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 35px;
  padding-top: 35px;
}


#fun-fact {
	text-align: center;
	font-size: 3em;
	opacity: 0.8;
	margin-top: 1em;
	color: whitesmoke;
	font-family: 'Gabriela', serif;
}

#favorite-facts {
	text-align: center;
	color: whitesmoke;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}


#next-fact {
	float: right
}

#buttons {
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 600px;
	padding-left: 600px;
}

h1 {
	font-family: 'Gabriela', serif;
	font-size: 4em;
	color: whitesmoke;
	text-align: center;
}

.my-fun-facts-container {
	margin-top: 40px;
}

h2 {
	line-height: 50px;
	font-family: 'Gabriela', serif;
	color: whitesmoke;
	text-align: center;
	font-size: 2.5em;
}

li {
	list-style-type: none;
	padding-top: 15px;
	font-size: 1.em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/*
p {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
